<section>
  <h1>Búsqueda de países</h1>
  <input type="text"
  placeholder="Escribe para buscar..."
  >

  <div class="search-results">
    <ul>
      @for(contry of contries; track contry.flags.alt ){

        <li (click)="selectContry(contry)" class="contry-item">
          <span >
            <img class="contry-item__img" [src]="contry.flags.png" alt="">
          </span>
          <span>
            {{contry.name.common}}
          </span>
          -
          <span>
            {{contry.name.official}}
          </span>
        </li>
      }
      </ul>
      @if(!contries){

        <p>
          no se encuentran resultados
        </p>
      }
  </div>
@if(selectedCountry){

  <app-countries-component [selectedCountry]="selectedCountry"/>
}

</section>
